
.work__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 55%;
    gap:2.5rem;
    padding-bottom:18rem;
}

.work__item{
    background: black;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.work__title{
    display:flex;
    align-items:center;
    gap:5px;
}

.header__content{
    font-size:16px;
    font-weight: 600;
}

.role__content {
    font-size:14px;
    color:grey;
    font-weight: 600;
    margin:2px;
}
@media only screen and (max-width: 1024px) {
    .work__container {
        grid-template-columns:2fr;
      }
    
      .work__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
      }

}

