.about__container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  place-self: center;
}

.about__content {
  justify-content: center;
  align-content: center;
}

.about__card {
  background: black;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}

.about__content p {
    margin:2rem 0 2.6rem;
    color: var(--color-light);
    text-align:center;
}

@media only screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap:0;
    }

}


@media only screen and (max-width: 600px) {
    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap:1rem;
    }

    .about__content{
        text-align:center;
    }
}
