.about__container {
    display:grid;
    grid-template-columns: 45%;
    justify-content: center;
    
}

.about__cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:12px;
    place-self:center;
}

.about__content{
    justify-content: center;
    align-content: center;
}